h1.h1-title {
  width: 400px;
  margin: 10px auto;
}
.main-nav {
  display: flex;
  justify-content: center;
  background-color: rgba(185, 185, 185, 0.66);
  max-width: 650px;
  margin: 0 30%;
  a {
  margin: 20px;
  background-color: rgb(134, 244, 128);
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 10px;
  color: rgb(210, 69, 0);
  text-align: center;
    &:hover {
      background-color: rgb(142, 187, 144);
    }
  }
}
