<div class="heroes-container">
  <form class="add-hero-container">
    <div class="input-container">
      <label for="new-hero">Hero name: </label>
      <input id="new-hero" #heroName />
    </div>
    <div class="input-container">
      <label for="new-hero-element">Element: </label>
      <input id="new-hero-element" #heroElement/>
    </div>

    <!-- (click) passes input value to add() and then clears the input -->
    <button class="add-button" type="submit" (click)="add(heroName.value, heroElement.value); heroName.value=''; heroElement.value=''">
      Add hero
    </button>
  </form>
  <div class="heroes-list-container">
  <h2>My Heroes</h2>
  <ul class="heroes">
    <div class="hero-preview-container" *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <li >
        <span class="badge">{{hero.id}}</span> {{hero.name}} | {{hero.element}}
      </li>
    </a>
    <button class="delete" title="delete hero"
    (click)="delete(hero)">x</button>
    </div>
  </ul>
  </div>
<!-- This is a one-way data binding from the selectedHero property of the HeroesComponent to the hero property of the target element, which maps to the hero property of the HeroDetailComponent -->
  <!-- <app-hero-detail *ngIf="selectedHero" [hero]="selectedHero"></app-hero-detail>
</div> -->
